<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.hw.mapper.DicHeadendVersionTabMapper">

	<resultMap id="DicHeadendVersionTab" type="com.hw.domain.po.DicHeadendVersionTab">
        <result property="versionId" column="VERSION_ID"/>
        <result property="versionName" column="VERSION_NAME"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		VERSION_ID,VERSION_NAME
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and oracle -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="versionId">
    <![CDATA[
        INSERT INTO DIC_HEADEND_VERSION_TAB (
        	VERSION_ID ,
        	VERSION_NAME 
        ) VALUES (
        	#{versionId} ,
        	#{versionName} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE DIC_HEADEND_VERSION_TAB SET
	        VERSION_NAME = #{versionName} 
        WHERE 
	        VERSION_ID = #{versionId} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM DIC_HEADEND_VERSION_TAB WHERE
        VERSION_ID = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="DicHeadendVersionTab">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM DIC_HEADEND_VERSION_TAB 
	        WHERE 
		        VERSION_ID = #{id} 
	    ]]>
	</select>
	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(versionId)">
				AND VERSION_ID = #{versionId}
			</if>
	       <if test="@Ognl@isNotEmpty(versionName)">
				AND VERSION_NAME = #{versionName}
			</if>
		</where>
	</sql>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM DIC_HEADEND_VERSION_TAB 
		<include refid="findPage_where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="DicHeadendVersionTab">
    	SELECT <include refid="columns" />
	    FROM DIC_HEADEND_VERSION_TAB 
		<include refid="findPage_where"/>
		

    </select>

	
</mapper>

