<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.hw.mapper.DicStationCityRelTabMapper">

	<resultMap id="DicStationCityRelTab" type="com.hw.domain.po.DicStationCityRelTab">
        <result property="id" column="ID"/>
        <result property="stationName" column="STATION_NAME"/>
        <result property="cityName" column="CITY_NAME"/>
        <result property="circleDistance" column="CIRCLE_DISTANCE"/>
        <result property="longitude" column="LONGITUDE"/>
        <result property="latitude" column="LATITUDE"/>
        <result property="azimuth" column="AZIMUTH"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		ID,STATION_NAME,CITY_NAME,CIRCLE_DISTANCE,LONGITUDE,LATITUDE,AZIMUTH
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and oracle -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
        INSERT INTO DIC_STATION_CITY_REL_TAB (
        	ID ,
        	STATION_NAME ,
        	CITY_NAME ,
        	CIRCLE_DISTANCE ,
        	LONGITUDE ,
        	LATITUDE ,
        	AZIMUTH 
        ) VALUES (
        	#{id} ,
        	#{stationName} ,
        	#{cityName} ,
        	#{circleDistance} ,
        	#{longitude} ,
        	#{latitude} ,
        	#{azimuth} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE DIC_STATION_CITY_REL_TAB SET
	        STATION_NAME = #{stationName} ,
	        CITY_NAME = #{cityName} ,
	        CIRCLE_DISTANCE = #{circleDistance} ,
	        LONGITUDE = #{longitude} ,
	        LATITUDE = #{latitude} ,
	        AZIMUTH = #{azimuth} 
        WHERE 
	        ID = #{id} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM DIC_STATION_CITY_REL_TAB WHERE
        ID = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="DicStationCityRelTab">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM DIC_STATION_CITY_REL_TAB 
	        WHERE 
		        ID = #{id} 
	    ]]>
	</select>
	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(id)">
				AND ID = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(stationName)">
				AND STATION_NAME = #{stationName}
			</if>
	       <if test="@Ognl@isNotEmpty(cityName)">
				AND CITY_NAME = #{cityName}
			</if>
	       <if test="@Ognl@isNotEmpty(circleDistance)">
				AND CIRCLE_DISTANCE = #{circleDistance}
			</if>
	       <if test="@Ognl@isNotEmpty(longitude)">
				AND LONGITUDE = #{longitude}
			</if>
	       <if test="@Ognl@isNotEmpty(latitude)">
				AND LATITUDE = #{latitude}
			</if>
	       <if test="@Ognl@isNotEmpty(azimuth)">
				AND AZIMUTH = #{azimuth}
			</if>
		</where>
	</sql>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM DIC_STATION_CITY_REL_TAB 
		<include refid="findPage_where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="DicStationCityRelTab">
    	SELECT <include refid="columns" />
	    FROM DIC_STATION_CITY_REL_TAB 
		<include refid="findPage_where"/>

    </select>

	
</mapper>

