<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.hw.mapper.DicTaskTypeTabMapper">

	<resultMap id="DicTaskTypeTab" type="com.hw.domain.po.DicTaskTypeTab">
        <result property="taskTypeId" column="TASK_TYPE_ID"/>
        <result property="type" column="TYPE"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		TASK_TYPE_ID,TYPE
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and oracle -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="taskTypeId">
    <![CDATA[
        INSERT INTO DIC_TASK_TYPE_TAB (
        	TASK_TYPE_ID ,
        	TYPE 
        ) VALUES (
        	#{taskTypeId} ,
        	#{type} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE DIC_TASK_TYPE_TAB SET
	        TYPE = #{type} 
        WHERE 
	        TASK_TYPE_ID = #{taskTypeId} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM DIC_TASK_TYPE_TAB WHERE
        TASK_TYPE_ID = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="DicTaskTypeTab">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM DIC_TASK_TYPE_TAB 
	        WHERE 
		        TASK_TYPE_ID = #{id} 
	    ]]>
	</select>
	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(taskTypeId)">
				AND TASK_TYPE_ID = #{taskTypeId}
			</if>
	       <if test="@Ognl@isNotEmpty(type)">
				AND TYPE = #{type}
			</if>
		</where>
	</sql>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM DIC_TASK_TYPE_TAB 
		<include refid="findPage_where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="DicTaskTypeTab">
    	SELECT <include refid="columns" />
	    FROM DIC_TASK_TYPE_TAB 
		<include refid="findPage_where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

