<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.hw.mapper.RadioTaskFreqTabMapper">

	<resultMap id="RadioTaskFreqTab" type="com.hw.domain.po.RadioTaskFreqTab">
        <result property="freqId" column="FREQ_ID"/>
        <result property="frequency" column="FREQUENCY"/>
        <result property="subTaskId" column="SUB_TASK_ID"/>
        <result property="attenuation" column="ATTENUATION"/>
        <result property="equCode" column="EQU_CODE"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		FREQ_ID,FREQUENCY,SUB_TASK_ID,ATTENUATION,EQU_CODE
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and oracle -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="freqId">
    <![CDATA[
        INSERT INTO RADIO_TASK_FREQ_TAB (
        	FREQ_ID ,
        	FREQUENCY ,
        	SUB_TASK_ID ,
        	ATTENUATION ,
        	EQU_CODE 
        ) VALUES (
        	#{freqId} ,
        	#{frequency} ,
        	#{subTaskId} ,
        	#{attenuation} ,
        	#{equCode} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE RADIO_TASK_FREQ_TAB SET
	        FREQUENCY = #{frequency} ,
	        SUB_TASK_ID = #{subTaskId} ,
	        ATTENUATION = #{attenuation} ,
	        EQU_CODE = #{equCode} 
        WHERE 
	        FREQ_ID = #{freqId} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM RADIO_TASK_FREQ_TAB WHERE
        FREQ_ID = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="RadioTaskFreqTab">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM RADIO_TASK_FREQ_TAB 
	        WHERE 
		        FREQ_ID = #{id} 
	    ]]>
	</select>
	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(freqId)">
				AND FREQ_ID = #{freqId}
			</if>
	       <if test="@Ognl@isNotEmpty(frequency)">
				AND FREQUENCY = #{frequency}
			</if>
	       <if test="@Ognl@isNotEmpty(subTaskId)">
				AND SUB_TASK_ID = #{subTaskId}
			</if>
	       <if test="@Ognl@isNotEmpty(attenuation)">
				AND ATTENUATION = #{attenuation}
			</if>
	       <if test="@Ognl@isNotEmpty(equCode)">
				AND EQU_CODE = #{equCode}
			</if>
		</where>
	</sql>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM RADIO_TASK_FREQ_TAB 
		<include refid="findPage_where"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="RadioTaskFreqTab">
    	SELECT <include refid="columns" />
	    FROM RADIO_TASK_FREQ_TAB 
		<include refid="findPage_where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

