<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.hw.mapper.RadioMarkRelTabMapper">

	<resultMap id="RadioMarkRelTab" type="com.hw.domain.po.RadioMarkRelTab">
        <result property="id" column="ID"/>
        <result property="resultId" column="result_id"/>
        <result property="markId" column="mark_id"/>
        <result property="state" column="state"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		     ID,result_id,mark_id,state
	    ]]>
	</sql>

	<update id="update" >
        UPDATE radio_mark_rel_tab SET
          <if test="@Ognl@isNotEmpty(markId)">
						mark_id = #{markId},
          </if>
	        state = #{state}
        WHERE 
	        ID = #{id} 
	</update>

    <select id="getNotMark" resultMap="RadioMarkRelTab">
        SELECT <include refid="columns" />
        FROM radio_mark_rel_tab where
			   state = 0
			   ORDER BY id asc
			   LIMIT #{startIndex} , #{endIndex}
    </select>

</mapper>


