<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.hw.mapper.SecOperationDetailTabMapper">

	<resultMap id="SecOperationDetailTab" type="com.hw.domain.po.SecOperationDetailTab">
        <result property="detailId" column="DETAIL_ID"/>
        <result property="operationName" column="OPERATION_NAME"/>
        <result property="operationId" column="OPERATION_ID"/>
        <result property="levelvalue" column="LEVELVALUE"/>
        <result property="isLog" column="IS_LOG"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		DETAIL_ID,OPERATION_NAME,OPERATION_ID,LEVELVALUE,IS_LOG
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and oracle -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="detailId">
    <![CDATA[
        INSERT INTO SEC_OPERATION_DETAIL_TAB (
        	DETAIL_ID ,
        	OPERATION_NAME ,
        	OPERATION_ID ,
        	LEVELVALUE ,
        	IS_LOG 
        ) VALUES (
        	#{detailId} ,
        	#{operationName} ,
        	#{operationId} ,
        	#{levelvalue} ,
        	#{isLog} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE SEC_OPERATION_DETAIL_TAB SET
	        OPERATION_NAME = #{operationName} ,
	        OPERATION_ID = #{operationId} ,
	        LEVELVALUE = #{levelvalue} ,
	        IS_LOG = #{isLog} 
        WHERE 
	        DETAIL_ID = #{detailId} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM SEC_OPERATION_DETAIL_TAB WHERE
        DETAIL_ID = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="SecOperationDetailTab">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM SEC_OPERATION_DETAIL_TAB 
	        WHERE 
		        DETAIL_ID = #{id} 
	    ]]>
	</select>
	
	<sql id="findPage_where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(detailId)">
				AND DETAIL_ID = #{detailId}
			</if>
	       <if test="@Ognl@isNotEmpty(operationName)">
				AND OPERATION_NAME = #{operationName}
			</if>
	       <if test="@Ognl@isNotEmpty(operationId)">
				AND OPERATION_ID = #{operationId}
			</if>
	       <if test="@Ognl@isNotEmpty(levelvalue)">
				AND LEVELVALUE = #{levelvalue}
			</if>
	       <if test="@Ognl@isNotEmpty(isLog)">
				AND IS_LOG = #{isLog}
			</if>
		</where>
	</sql>
		
    <select id="findPage_count" resultType="long">
        SELECT count(*) FROM SEC_OPERATION_DETAIL_TAB 
		<include refid="findPage_where"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="SecOperationDetailTab">
    	SELECT <include refid="columns" />
	    FROM SEC_OPERATION_DETAIL_TAB 
		<include refid="findPage_where"/>
		

    </select>

	
</mapper>

